# Ignore large bioinformatics files
*.gz
*.zip
*.tar
*.tgz
annovar/
humandb/

# Conda or virtual environments
.conda/
.env/
.venv/

# Cache, logs, and temporary files
.cache/
log/
pkg/

# Shell and system files
.bash_history
.bash_logout
.bash_profile
.bashrc
.kshrc
.lesshst
.oracle_jre_usage/
.java/
.zshrc
.viminfo
.ssh/
.condarc
